# Ignore Python/macos artifacts
.venv/
__pycache__/
*.pyc
.DS_Store

#checkpoints
artifacts/checkpoints/*.pt
artifacts/tokenizer.json

#weights and biases
*.pt

#docs
docs/

#wandb
wandb/

#logs
logs/

#data
data/

#artifacts
artifacts/

#env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#cursor
.cursorrules
.cursorignore
.cursorignore